<?xml version="1.0"?>
<!-- Config file for PHPUnit automated tests -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="test/bootstrap-phpunit.php"
         colors="true"
         failOnDeprecation="true"
         failOnNotice="true"
         failOnWarning="true"
         failOnRisky="true"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd">
    <testsuites>
        <testsuite name="unit">
            <directory>test/unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>test/integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
